:root {
  --tabAmount: 1;
  --textColor: black;
  --buttonBg: #e4e8eb;
}

.tab {
  width: calc(100vw / var(--tabAmount));
  height: 30px;
  
  text-align: center;
  
  border: 2px solid var(--textColor);
  border-right: 0px solid var(--textColor);
  border-radius: 5px 5px 0 0;
  
  display: inline-block;
  position: relative;

  outline: none;

  margin: 0;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

button {
  background-color: var(--buttonBg);

  border: 2px solid var(--textColor);
  border-radius: 7px;
}

td {
  width: 40%;
  border-bottom: 1px solid var(--textColor);
  border-right: 1px solid var(--textColor);
}
